force-app/main/default/flows/modifyQuaTypeCnt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>plusone</name>
        <label>統計プラス１</label>
        <locationX>413</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>nowcnt</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatecnt</targetReference>
        </connector>
    </assignments>
    <interviewLabel>資格種類別統計更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>資格種類別統計更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getnowcnt</name>
        <label>現在統計数取得</label>
        <locationX>262</locationX>
        <locationY>97</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>plusone</targetReference>
        </connector>
        <filters>
            <field>qualificationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shikakuTypeVal</elementReference>
            </value>
        </filters>
        <object>qualificationSum__c</object>
        <outputAssignments>
            <assignToReference>nowcnt</assignToReference>
            <field>qualificationCnt__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updatecnt</name>
        <label>統計更新</label>
        <locationX>645</locationX>
        <locationY>94</locationY>
        <filters>
            <field>qualificationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shikakuTypeVal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>qualificationCnt__c</field>
            <value>
                <elementReference>nowcnt</elementReference>
            </value>
        </inputAssignments>
        <object>qualificationSum__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getnowcnt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>nowcnt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>shikakuTypeVal</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
